title                    : "LCC Fusion Posts"
description              : "LCC Fusion Posts is a DIY project providing hardware and software for Model Train Layout Automation using NMRA Layout Command Control (LCC)"
url                      : https://patfleming.github.io # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl: "/LccFusionPosts"
repository: https://github.com/patfleming/LccFusionPosts
permalink                : /:categories/:title/

remote-theme: "mmistakes/minimal-mistakes" 
minimal_mistakes_skin    : "dark" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

logo                     : /assets/images/LCCFusionLogo.png 
favicon_ico              : "/assets/images/favicon.ico"

# navigation links are located in _data/navigation.yml

 # Site Settings
locale                   : "en-US"
title_separator          : "-"
name                     : "Pat Fleming"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
masthead_title           : # overrides the website title displayed in the masthead, use " " for no title
# breadcrumbs            : true # true, false (default)


# Site Author
author:
  name: "Pat Fleming"
  avatar: "/assets/images/bio-photo.png" # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio: "Retired software engineer, inspired by NMRA LCC to provide DIY train layout automation."
  location: "Duluth MN"
  #email: "PatFlemingHtc@gmail.com"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:PatFleminghtc@gmail.com"
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://github.com/patfleming"


# Site Footer
footer:
  links:


# Reading Files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - Gemfile
  - Gemfile.lock
  - LICENSE

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  quiet_deps: true
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Outputting
paginate: 5 # amount of posts to show
paginate_path: "/posts/page:num/"
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Plugins (previously gems:)
plugins:
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-include-cache
  
yaml safe: false

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/


# HTML Compression
# - https://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: # false
      share: false
      related: true
      toc: true
      toc_sticky: true
      toc_icon: "cog"
