---
title: "Welcome to LCC Fusion"
layout: "home"
author_profile: true

pagination:
  enabled: true
sidebar:
  nav: "main"
header:
  overlay_image: /assets/images/Home_Heading_Background.png
  caption: "LCC Fusion Project Posts"
excerpt: "Latest updates, guides, and insights about LCC Fusion."
feature_row:
  - image_path: /podcasts/images/Cards_Node_Basics.jpg
    title: "LCC Fusion Podcast: LCC Fusion Node and Card Basics"
    excerpt: "Learn the fundamentals of LCC Fusion Nodes and Cards in this introductory podcast episode."
    url: https://youtu.be/TdUUSL-4by8
    btn_label: "What the Video"
    btn_class: "btn--primary"	
---
{% include feature_row %}

<section>
  <h2>Recent Posts</h2>
  {% for post in paginator.posts limit:5 %}
    <article>
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.excerpt }}</p>
    </article>
  {% endfor %}
</section>

