---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@use "minimal-mistakes/skins/dark"; // skin
@use "minimal-mistakes"; // main partials


.custom-image-size img {
  width: auto;
  height: 90;
}